# Gradle
.gradle
gradlew
gradlew.bat
gradle/
build/
bruno/.env
.scratch/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
**/*.log

# Exclude the vault unseal script containing keys
unseal.ps1

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
bootRun.log
src/main/resources/application.properties
src/main/resources/application.yml
!**/src/main/**/out/
!**/src/test/**/out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS specific
.DS_Store
Thumbs.db

# Vault and Environment
vault/
.env
*.b64
